<!DOCTYPE html>
<html>
	<head>
		<script src="https://kit.fontawesome.com/a9fb854f43.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,700&family=Roboto+Slab:wght@300;400&display=swap" rel="stylesheet">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="/build/app.css">
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="/build/runtime.js" defer></script>
			<script src="/build/app.js" defer></script>
		{% endblock %}
	</head>
	<body>
		{# HEADER #}
		<header class="nav-header">
			<div class="nav-header-container">
				<div class="nav-header-top">
					<a href="https://izidore.com/" class="header-logo">
						<div class="header-logo-container">
							<img class="header-logo-img cursor" src="https://izidore.com/img/logos/izidore.gif" alt="Logo Izidore">
						</div>
					</a>
					<div class="header-searchbar">
						<form action="" class="header-form-searchbar">
							<div class="header-form-searchbar-div">
								<input type="text" class="header-form-searchbar-input">
							</div>
							<div class="header-logo-searchbar"></div>
						</form>
					</div>
					<div class="header-links">
						<nav class="header-links-container">
							<ul>
								<li>
									<a href="https://izidore.com/vide-appart-creation" class="btn btn-square green-btn cursor">Vendre</a>
								</li>
								<li>
									<div class="wishlist indicator cursor"></div>
								</li>
								<li>
									<div class="cart indicator cursor"></div>
								</li>
								<li>
									<a href="#">
										<img src="https://izidore.com/img/icons/user.svg" alt="" class="indicator cursor">
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="nav-header-down">
					<div class="nav-header-down-links">
						<nav class="header-links-container">
							<div class="nav-items-container">
								<div class="nav-items-new">
									<a href="https://izidore.com/catalogue?type=new">NOUVEAUTÉS</a>
								</div>
								<div class="nav-items">
									<span>VIDE-APPARTS</span>
								</div>
								<div class="nav-items">
									<span>MEUBLES</span>
								</div>
								<div class="nav-items">
									<span>ÉLECTROMÉNAGER</span>
								</div>
								<div class="nav-items">
									<span>DÉCORATION</span>
								</div>
								<div class="nav-items">
									<span>MARQUES</span>
								</div>
							</div>
							<div class="nav-items-container">
								<div class="nav-items">
									<span>COMMENT ÇA MARCHE ?</span>
								</div>
								<div class="nav-items">
									<span>CONSEILS</span>
								</div>
								<div class="nav-items">
									<span>BLOG</span>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</header>

		{# MAIN #}
		<main
			class="body-content">
			{# MAIN HEADER #}
			<header class="header-bg">
				<div class="announce-header">
					<div class="announce-header-container">
						<div class="announce">
							<a href="https://izidore.com/catalogue/vide-apparts#5fe0882040b8b" class="arrow-left cursor"></a>
							<h1 class="announce-title">
								<span
									class="announce-title-container-light h1">
									{# TODO Créer un effet de surbrillance #}
									<span class="light h1"></span>
								</span>
								<span class="announce-title-container">
									<span class="title">BIENVENUE</span>
									{# TODO Récupérer nom en bdd #}
									<span class="title">CHEZ EMMA</span>
								</span>
							</h1>
						</div>
						<div class="announce-indicator">
							<div class="wishlist-container">
								<div class="wishlist-logo cursor">
									<span>
										{# TODO Counter #}
										10
									</span>
								</div>
							</div>
							<div class="share">
								<img src="https://izidore.com/img/icons/send.svg" alt="" class="share-logo cursor">
								<p class="share-text cursor">Envoyer à un ami</p>
							</div>
						</div>
					</div>
				</div>
				<div class="announce-header-cover">
					<div class="cover-blur-image">
						<img src="https://izidore-production-bucket.s3.eu-west-3.amazonaws.com/media/cache/announce_cover_picture_blur/6f6c5f5ee0ce232670c4aa3e1b249514.jpeg" class="blur-image">
					</div>
					<div class="announce-cover-image"></div>
					<div class="shadow"></div>
				</div>
			</header>

			{# MAIN BODY #}
			<div
				class="main-view-container">
				{# Container de tous les produits #}
				<div class="main-view-products-container">
					{# Render de tous les produits #}

					{# TODO Récupérer les images + liens #}
						<div class="products-container"> {% for product in products %}
							{# Card produit #}
							<div class="products-card">
								<a href="" class="products-card-image-container">
									<div
										class="products-image-container">
										{# TODO Récupérer image #}
										<div
											class="products-slider-image">
											{# TODO Enlever overlay ? #}
											<div class="slide-overlay"></div>

											<ul class="slider-slides">
												<li
													class="slider-slide">
													{# TODO Enlever overlay ? #}
													<div class="slide-overlay"></div>
													<div class="slider-slide-blur">
														<img src={{ product.image }} alt="" class="products-blur-image">
													</div>
													<img src={{ product.imageBlur }} alt="" class="products-image">
												</li>
											</ul>
										</div>
										<p class="products-name">{{product.name}}</p>
									</div>
								</a>

								<div class="products-stuff-container">
									<a href="#" class="products-stuff" title="Plus d'infos sur le produit">

										<div class="products-price-container">
											<span class="products-price">{{product.price}}€</span>
											<span class="products-old-price">{{product.oldPrice}}€</span>
										</div>

										<div class="products-origin-container">
											<span class="products-origin">{{product.origin}}</span>
										</div>
									</a>

									<div class="products-cart-container">
										<button
											class="products-cart cursor yellow-btn">
											{# TODO Définir class bouton jaune #}
											<img src="https://izidore.com/img/icons/cart.svg" alt="" class="cart indicator cursor">
										</button>
									</div>
								</div>

								{% if product.delivery == 'Mondial Relay' %}
									<div class="products-delivery-container">
										<div class="products-delivery" data-original-title="<span class='text-small'>La livraison Mondial Relay est disponible sur cet article !</span>">🚚
											{{product.delivery}}</div>
									</div>
								{% endif %}
								{# Description produits #}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="side-view-user-container">
					<div class="side-view-user">
						<div class="side-container">
							<img src="https://izidore.com/img/icons/map-pin.svg" alt="" class="side-locator">
							<div
								class="side-location">
								{# TODO Récupérer info bdd #}
								<p class="location">Junhac, 15120</p>
							</div>
						</div>

						<div class="side-info-user-container">
							<div class="side-info">
								<div class="side-user-logo">
									<img src="https://izidore-production-bucket.s3.eu-west-3.amazonaws.com/media/cache/profile_picture/402bf820e579b75dacb379f4303f5ab0.png" alt="" class="user-logo">
								</div>

								<div class="side-user-info-container">
									<div class="side-user-info">
										<div class="user-info">Emma</div>
									</div>
								</div>
							</div>

							<div class="side-furnitures-container">
								<p>Meubles descendus</p>
								<div class="side-furnitures-info">
									<i class="fas fa-arrow-down side-logo"></i>
									<p class="small-text">
										Emma s'engage à descendre ses meubles au rez-de-chaussée !
									</p>
								</div>
							</div>

							<div class="side-pref-container">
								<p>Préférences de retrait</p>
								<div class="side-pref-info">
									<i class="far fa-calendar-alt side-logo"></i>
									<div class="pd-l2">
										<div class="flex-wrap-start-center">
											<p class="small-text">Semaine :</p>
											<p class="small-bold">de 8h à 20h</p>
										</div>
										<div class="flex-wrap-start-center">
											<p class="small-text">Week-end :</p>
											<p class="small-bold">de 8h à 20h</p>
										</div>
									</div>
								</div>
							</div>

							<div class="side-description-container">
								<a
									href="" class="flex-btw-center a-description cursor">
									{# TODO onclick -> dropdown #}
									<p>Description</p>
									<i class="fas fa-chevron-down small-arrow-down cursor"></i>
								</a>
							</div>

							<div class="side-contact-container">
								<div class="tabbar">
									<a href="" class="green-btn tabbar-btn">ENTRER EN CONTACT</a>
								</div>
							</div>
						</div>

						<div class="side-view-map">
							<div>{# TODO Importer iFrame #}
								{# Google Maps Platform API #}
								{# <iframe src="https://www.google.com/maps/embed/v1/view?key=AIzaSyCvB_0KcGfe-UEcXI9HXdZOUA7lcNvKW7A&center=44.7130784,2.4532195&maptype=roadmap&zoom=15&language=fr" frameborder="0"></iframe> #}
							</div>
						</div>

					</div>
				</div>
			</div>
			{# MAIN BODY #}
		</body>
	</body>
</html></body></html></main></body></html>
